* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace, sans-serif;
    background-color: dimgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.container {
    text-align: center;
    background-color: rgb(33, 38, 40);
    padding: 1rem;
    width: 35%;
    height: 95%;
    border-radius: 1rem;
    box-shadow: 5px 7px 7px rgba(40, 38, 38, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0.5rem;
}

h1,
p,
h3,
h2 {
    color: white;
}

.three-days-weather-forecast {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;

}

.todays-weather-forecast {
    border: 1px white solid;
    border-radius: 10px;
    padding: 0.5rem;
}

.weather-status {
    height: 10%;
    font-size: 20px;
}

.weather-image-container {
    height: 60%;
}

.temp-forecast {
    height: 30%;
    display: flex;
    justify-content: space-between;
}

.two-days-weather-forecast {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.two-days-weather-forecast > div {
    border: 1px white solid;
    border-radius: 10px;
    height: 100px;
    width: auto;
}

.tommorow,
.day-after-tommorow > .temp-container {
    display: flex;
    justify-content: space-between;
}

.input-and-button-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

input, 
button {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
}

input {
    outline: none;
}

button {
    background-color: chocolate;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

button:hover {
    background-color: rgb(255, 176, 119);
}